section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

section h1{
    font-size: 40px;
}

section h1 span{
    color: orangered;
}
